.chat-card {
  padding: 10px 7px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #f4f4f4;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
  }

  &__info {
    margin-left: 10px;
  }

  &__title {
    font-size: 16px;
  }

  &__last-message {
    margin-top: 5px;
  }

  .chat-last-message {
    font-size: 14px;

    &__from {
      color: #2390cf;
    }

    &__message {
      color: #bbbbbb;
    }
  }
}
