.chat-card {
  padding: 10px 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: #f4f4f4;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
  }

  &__info {
    margin-left: 10px;
  }

  &__title {
    font-size: 16px;
  }

  &__last-message {
    margin-top: 5px;
  }

  &__badge {
    background-color: #40a7e3;
    font-size: 14px;
    color: #fff;
    padding: 3px 7px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }

  .chat-last-message {
    font-size: 14px;

    &__from {
      color: #2390cf;
    }

    &__message {
      color: #bbbbbb;
    }
  }
}
