.chat-room-wrapper {
  padding: 0 20px;
}

.back {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  cursor: pointer;
}

.message-scrollable-list {
  max-height: 550px;
  overflow: hidden;
  overflow-y: scroll;
}

.message-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.chat-message {
  background-color: #aaffff;
  margin-bottom: 5px;
  padding: 7px;
  width: 70%;
  align-self: flex-start;

  &-own {
    align-self: flex-end;
    background-color: #effdde;
  }

  &__user {
    margin-bottom: 3px;
  }

  &__text {
    font-weight: 300;
  }
}

.accept-chat {

}
