.chat-room-wrapper {
  padding: 0 20px;
}

.back {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  cursor: pointer;
}

.message-scrollable-list {
  max-height: 550px;
  overflow: hidden;
  overflow-y: scroll;
}
