.users-list {
    width: 300px;
    border: 1px dashed gray;
}

.user-card {
    border-bottom: 1px solid gray;
    padding: 20px;
}

.user-card:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.user-card:last-child {
    border-bottom: none;
}
