.users-list {
    width: 300px;
    border: 1px dashed gray;
}

.user-card {
    border-bottom: 1px solid gray;
    padding: 20px;

    &:hover {
        background-color: #eaeaea;
        cursor: pointer;
    }

    &:last-child {
        border-bottom: none;
    }
}

.feed__chat-list {
    width: 300px;
    border-right: 1px solid black;
    height: 50vh;
}
